<div class="container">
	<h1>Danışmanlık - Görsel gelecek</h1>
	<hr>
	<p>Engin tecrübe, mesleki bilgi ve becerilerimiz ile müşterilerimize pratik çözümler sunuyoruz</p>
	<ul>
		<li>Yüksek yapılarınızda garanti danışmanlığı ve garanti içi hasarların tespitleri</li>
		<li>On-shore ve of-shore yüksekte erişim çözümleri</li>
		<li>Acil durum planları ve tatbikat hizmetleri</li>
		<li>NDT çözüm ortaklığı</li>
		<li>Yüksekte Çalışma</li>
		<li>Yaşam Hattı (Life Line)</li>
	</ul>

	<h3>Yüksekte Çalışma</h3>
	<ul>
		<li>Dış ve İç Cephede Montaj ve Denetleme Hizmetleri</li>
		<li>Yüksekte çalışma</li>
		<li>Life line ( Yaşam Hattı )</li>
		<li>NDT Çözüm ortaklığı</li>
		<li>On-shore ve Of-shore yüksekte erişim çözümleri</li>
		<li>Acil durum planları ve tatbikat hizmetleri</li>
		<li>Kurtarma eğitimi danışmanlığı</li>
	</ul>
	
</div>