<div class="container">
	<h1>Endüstriyel Temizlik</h1>
	<hr>
	<h2>DIŞ CEPHE CAM TEMİZLİĞİ</h2>
	<p>Yükseklik ve mevcut ulaşım sistemlerinin ( Vinç , İskele, asansör vb ) yetersiz kaldığı işlerinizde uluslararası eğitimlere sahip olan ve sertifikalı iple erişim teknisyenlerimiz ile çok daha etkin çözümler sunuyoruz.Böylece uzun zaman ve yüksek maliyet gibi sorunları ortadan kaldırmış oluyoruz.</p>
	<ul>
		<li>Dış cephe cam temizliği</li>
		<li>Çelik Konstrüksiyon Temizliği</li>
		<li>İnşaat sonrası temizlik</li>
		<li>Basınçlı yıkama</li>
		<li>Grafiti temizliği</li>
		<li>Boya temizliği</li>
	</ul>
	
	
</div>