<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				2017 Dikey Çözümler<br>
				<small>İple Erişim Hizmetleri, Endüstriel Dağcılık, Rigging Hizmetleri</small>
			</div>
			<div class="col-md-6 text-right">
				<a href="https://www.facebook.com/Dikeycozumler" target="_blank"><img src="/assets/img/social-facebook.png" height="40" alt="Facebook"></a> 
				<a href="https://twitter.com/dkyczmlr" target="_blank"><img src="/assets/img/social-twitter.png" height="40" alt="Twitter"></a> 
				<a href="" target="_blank"><img src="/assets/img/social-instagram.png" height="40" alt="Instagram"></a> 
				<a href="https://www.linkedin.com/company/dikey-%C3%A7%C3%B6z%C3%BCmler-rope-access-solutions" target="_blank"><img src="/assets/img/social-linkedin.png" height="40" alt="LinkedIn"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="/assets/img/dikeycozumler_logo_20121105w.png" alt="Dikey Çözümler">
			</div>
			<div class="col-md-4">
				<strong>Merkez Ofis</strong>
				Atatürk Mah. Yakut Cad. Yeşim Sitesi<br>
				16/2 Ataşehir/İstanbul
			</div>
			<div class="col-md-4">
				<strong>Telefon</strong><br>+90 212 777 44 49<br>
				<strong>Mobil</strong><br>+90 530 432 12 16<br>
				<strong>E-mail</strong><br>info@dikeycozumler.com
			</div>
		</div>
	</div>
</footer>