<div class="container">
	<h1>Hakkımızda</h1>
	<hr>
	<p>Dikey Çözümler olarak petrol, gaz, konstrüksiyon, inşaat ve petrokimya endüstrilerine, iple erişim ve tahribatsız testlerde dahil olmak üzere, geniş bir servis hizmeti sunmaktayız. Bütün Türkiye&rsquo;de  aşağıdaki düşük maliyetli yöntemlerle projelere çözümler sunmaktayız.</p>
<ul>
  <li>İple erişim hizmetleri</li>
  <li>Gözle kontrol ve tahribatsız test hizmetleri</li>
  <li>Mekanik ve Elektrik hizmetleri</li>
  <li>Kumlama, boyama ve koruyucu kaplama hizmetleri</li>
  <li>Erişilebilirlik sistemleri dizaynı, kurulumu ve testleri (Yaşam hatları Life line)</li>
  <li>Yüksek yapılarda yüzey temizliği, bakım ve onarımı</li>
  <li>Kaçak testi ve onarım hizmetleri</li>
  <li>Concrete ( Beton ) bakım ve onarımı</li>
</ul>
<p>Firmamız; konstrüksiyon, inşaat, petrokimya, petrol ve gaz sektörlerinde yıllarca tecrübeli olan, ipli erişim için gerekli tüm yeterliliğe, NDT ve ticari sertifikalara sahip personel ile hizmet sunmaktadır.</p>
<h3>İpli erişim, NDT test ve bakım projeleri </h3>
<p>Dikey Çözümler teknisyenleri, <strong>Anadolu Efes</strong>, <strong>Tüpraş</strong>, <strong>Ermenek barajı</strong>, <strong>Boğaziçi köprüsü</strong>, <strong>Kara yolları</strong> ve <strong>İBB</strong> önemli müşterilerin de dahil olduğu bir çok firma ile, iple erişim, NDT ve vidyo kayıtlı görsel testler ve mekanik bakım gibi bir çok teknik özelliği içinde barındıran, sayısız projeyi başarı ile gerçekleştirmiştir.</p>
<h3>Endüstriyel İple Erişim Hizmetleri</h3>
<p>Dikey Çözümler olarak tüm Türkiye&rsquo;de  iple erişim endüstrisinde bir çok deneyim edinmiştir ve bu deneyimler sayesinde çok farklı alanlarda, endüstrinin standart ve prosedürlerinin de yardımıyla bir çok projeyi tamamlamıştır.</p>
<p>İple erişim, ileri ip tekniklerinin kullanılarak yüksek yapılarda gözlem, bakım, kurulum, onarımı ölçüm gibi işlemlerin yapıldığı maliyet ve zaman açısından efektif olan erişim uygulamalarıdır. Bu uygulamalar sayesinde teknisyenler, herhangi bir iskele yada yüzeylerde herhangi bir tahribata yol açmadan kaynak, montaj, yapı onarımı ve denetimi işlemleri gerçekleştirebilmektedir.</p>
<h3>Vasıflı ip erişim personeli</h3>
<p>Dikey Çözümler  bir çok projede uzun yıllar tecrübe edinmiş en vasıflı ipli erişim uzmanlarıyla çalışmaktadır. Tüm çalışmalarımız müşterinin belirlediği özellikleri göz önünde bulundurularak çalışma alanında minimum tahribat ile yapılmaktadır.</p>
<p>Amacımız sıfır iş kazası doğrultusunda kesin güvenlik talimatlarınından taviz vermeden; tüm müşteri isteklerini en yüksek oranda, herhangi bir tahribat olmadan karşılamaktır.</p>
<p>Tüm çalışanlarımız senelik olarak değerlendirme altına alınarak tüm iple erişim ve kurtarma tekniklerine olan hakimiyeti sınanmaktadır. Tüm personelimiz tehlikeli çalışma ortamlarında güvenliği ön planda tutarak çalışmakta ve projeleri tamamlamaktadır.</p>
<h3>Bina, aydınlatma ve elektrik tesisatları için montaj, kontrol, bakım ve onarım servisleri</h3>
<p>Firmamız, yüksek binalar için su geçirmez dolgu/membran uygulamaları, beton onarımları, dış yüzey denetimleri, temizliği ve boya uygulamaları, aydınlatma ve genel  bakım olmak üzere geniş bir alanda iple erişim hizmeti vermektedir.</p>
<p>Bununla birlikte bina yüzeylerinde reklam panosu kurulumu, kaldırılması ve onarımı, geçici reklam uygulamaları, led yada diğer aydınlatma gereçleri için elektrik tesisatı kurulumu gibi iple erişim hizmetleri vermekteyiz.</p>
<h3>Yaşam hattı kurulumu ve danışmanlık hizmetleri</h3>
<p>Dikey Çözümler olarak riskli çalışma alanlarında yaşam hattı kurulum, bakım ve onarım hizmetleri ile birlikte bu sistemler için danışmanlık ve ilgili personel için eğitim hizmetleri vermektedir.</p>
<h3>NDT Tahribatsız Test Denetim Hizmetleri</h3>
<p>NDT denetim işleri her geçen gün diğer alternatif metodlara göre daha ucuz ve güvenlİ, aynı zamanda daha az iş gücü gerektirdiği için her geçen gün daha popüler hale gelmektedir. Dikey Çözümler olarak NDT sertifikalı çalışanlarımızla aşağıdaki metodlar ile denetim, bakım ve onarım hizmetleri sağlamaktadır.</p>
<ul>
  <li>Radyografi (Röntgen): Gammer ve X-Ray cihazları kullanılarak boru ve kaynak bölgeleri üzerinde denetim yapılarak bozuk bölgelerin bulunmasıdır. Aynı zamanda flash radyografi ile yalıtım altındaki bölgelerin denetimi yapılabilmektedir.</li>
  <li>Ultrasonik: yeraltında yapılacak ölçümler için pratik bir yöntemdir. Ultrasonun oluşturduğu yüksek frekanslı dalgalar sayesinde malzeme üzerindeki sorunlu bölgeler tespit edilebilmektedir.</li>
  <li>Manyetik Parçacık: Ferromanyetik malzemeler üzerindeki sorunlu bölgelerin belirlenebildiği kolay uygulanabilir ve güvenilir bir yöntemdir.</li>
  <li>Girdap akımı (  Elektrik akımı , Manyetik dalga testi <a href="http://www.olympus-ims.com/en/eddycurrenttesting/">http://www.olympus-ims.com/en/eddycurrenttesting/</a> )  elektirik dalgaları kullanılarak iletken malzemeler üzerinde bir manyetik alan oluşturularak, bozuk bölgelerin tespit edilmesi yöntemidir.</li>
  <li>Gözlem: bozul bölgelerin bulunması için tüm yüzeyin taranması işlemidir. Bu işlem yukarıdaki methodlardan birini yada birkaçını da gerektirebilir.</li>
</ul>
<img src="/assets/img/irata-standartlari.jpg">
</div>