<nav class="navbar">
		<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./"><img src="/assets/img/dikeycozumler_logo_20121105.png" alt="Dikey Çözümler"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./">ANASAYFA</a></li>
            <li><a href="/hizmetler">HİZMETLER</a></li>
            <li><a href="/iletisim">İLETİŞİM</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</nav>