<div class="container">
	<h1>Hizmetler</h1>
	<hr>
	<div class="row services">
	    <div class="col-md-2 col-sm-4 col-xs-6">
	    	<a href="/hizmetler/yasam-hatti" class="service5">Yaşam Hattı<br>(Life Line)</a>
	    </div>
	    <div class="col-md-2 col-sm-4 col-xs-6">
	    	<a href="/hizmetler/egitim" class="service1">Eğitim</a>
	    </div>
	    <div class="col-md-2 col-sm-4 col-xs-6">
	    	<a href="/hizmetler/danismanlik" class="service2">Danışmanlık</a>
	    </div>
	    <div class="col-md-2 col-sm-4 col-xs-6">
	    	<a href="/hizmetler/montaj" class="service3">Montaj</a>
	    </div>
	    <div class="col-md-2 col-sm-4 col-xs-6">
	    	<a href="/hizmetler/endustriyel-temizlik" class="service4">Endüstriyel Temizlik</a>
	    </div>
	    <div class="col-md-2 col-sm-4 col-xs-6">
	    	<a href="/hizmetler/ruzgar-enerjisi" class="service6">Rüzgar Enerjisi</a>
	    </div>
	  </div>
</div>