<div class="container">
	<h1>Montaj</h1>
	<hr>
	<h3>Montaj uygulama alanları</h3>
	<ul>
		<li>Bina iç ve dış cepheleri: Temizlik, boya, izolasyon, montaj, tamirat ve afiş asımları</li>
		<li>Alışveriş Merkezleri: Dekor asımları, temizlik, bakım</li>
		<li>Köprü ve viyadükler: Hasar tespit çalışmaları, boya, montaj, tamirat.</li>
		<li>Rüzgar Elektrik Santralleri: Kanat ucu boyama, kanatlarda hasar tespiti ve tamirat; kule gövdelerinde boya, tamirat, temizlik ve bakım; merdivenlerin ve düşüş durdurucu sistemlerin incelenmesi, hasar tespitleri ve bakımı.</li>
		<li>Hidroelektrik Santralleri: Şantiye yamaçlarında taş temizliği, taş düşmesini engelleyici ağ montajı</li>
		<li>Karayolları ve trenyolları: Taş düşmesini önleyici ağ montajı.</li>
		<li>Petrol Platformları: Kaynak, temizlik, bakım, montaj ve NDT.</li>
		<li>Tahribatsız Muayene (NDT): Tüm metal yapılarda Ultrasonic muayene ile metal ve kaynak sağlamlığının ölçülmesi.</li>
		<li>Sahne kurulum ve Uçuş efektleri: Gösteri ve reklam amaçlı iple iniş gösterileri, Motor asımı</li>
	</ul>
	<h2>Boyama ve Silikon</h2>
	<p>Dikey Çözümler olarak  endüstriyel dağcılık (iple erişim) yöntemiyle ulaşmakta zorluk yaşadığınız noktalara konusunda uzman  ekiplerimizle taleplerinize uygun çözümler sunuyoruz. Ayrıca size zaman ve maliyet tasarrufu sağlıyoruz.</p>
	<h3>İple Erişimin ağırlıklı boya uygulama alanları</h3>
	<ul>
		<li>Bina iç ve dış cepheleri: Boya, izolasyon</li>
		<li>Alışveriş Merkezleri: Dekor uygulamaları, boya, bakım</li>
		<li>Köprü ve viyadükler: Boya, graffiti temizliği</li>
		<li>Rüzgar Türbinleri: Kanat ucu boyama, kule gövdelerinde boyama işlemleri</li>
		<li>Petrol Platformları: Depolama tankları boyama, boru hatları boyama</li>
		<li>Fabrika ve Stadyumlar: Çelik konstrüksiyon boyamaları, Sanayi bacaları boyama işlemleri</li>
	</ul>
	<h2>Aydınlatma</h2>
	<h3>Bina, aydınlatma ve elektrik tesisatları için montaj, kontrol, bakım ve onarım servisleri</h3>
	<p>Firmamız, yüksek binalar için su geçirmez dolgu/membran uygulamaları, beton onarımları, dış yüzey denetimleri, temizliği ve boya uygulamaları, aydınlatma ve genel  bakım olmak üzere geniş bir alanda iple erişim hizmeti vermektedir.</p>
	<p>Bununla birlikte bina yüzeylerinde reklam panosu kurulumu, kaldırılması ve onarımı, geçici reklam uygulamaları, led yada diğer aydınlatma gereçleri için elektrik tesisatı kurulumu gibi iple erişim hizmetleri vermekteyiz.</p>
	<p>Hızla büyüyen ve her geçen gün dahada ulaşılması güçleşen yüksek ve karmaşık yapıların ışıklandırma veya aydınlatma sorunları için en iyi çözüm iple erişim tekniğidir. Bunun için bizimle iletişime geçmeniz yeterli
	</p>
	<h2>NDT Servisi</h2>
	<h3>Tahribatsız Test Denetim Hizmetleri</h3>
	<p>NDT denetim işleri her geçen gün diğer alternatif metodlara göre daha ucuz ve güvenli, aynı zamanda daha az iş gücü gerektirdiği için her geçen gün daha popüler hale gelmektedir. Dikey Çözümler olarak NDT sertifikalı çalışanlarımızla aşağıdaki metodlar ile denetim, bakım ve onarım hizmetleri sağlamaktayız.</p>
	<ul>
		<li>Radyografi (Röntgen): Gammer  ve  X-Ray cihazları kullanılarak boru ve kaynak bölgeleri üzerinde denetim yapılarak bozuk bölgelerin bulunmasıdır. Aynı zamanda flash radyografi ile yalıtım altındaki bölgelerin denetimi yapılabilmektedir.</li>
		<li>Dye penetrant: Bu kısmı ceviremedim. Bir şekilde yüzeylere boya uygulayarak ve bu boyaların kanadığı!!! Yada ne biliyim bozukluk gösterdiği bölgelerin sorunlu olduğunu bulan bir yöntem sanırım.</li>
		<li>Ultrasonik: yeraltında yapılacak ölçümler için pratik bir yöntemdir. Ultrasonun oluşturduğu yüksek frekanslı dalgalar sayesinde malzeme üzerindeki sorunlu bölgeler tespit edilebilmektedir.</li>
		<li>Manyetik Parçacık: Ferromanyetik malzemeler üzerindeki sorunlu bölgelerin belirlenebildiği kolay uygulanabilir ve güvenilir bir yöntemdir.</li>
		<li>Girdap akımı ( Yada elektrik akımı olabilir , yada manyetik dalga testi http://www.olympus-ims.com/en/eddycurrenttesting/ ) : elektirik dalgaları kullanılarak iletken malzemeler üzerinde bir manyetik alan oluşturularak, bozuk bölgelerin tespit edilmesi yöntemidir.</li>
		<li>Gözlem: bozul bölgelerin bulunması için tüm yüzeyin taranması işlemidir. Bu işlem yukarıdaki methodlardan birini yada birkaçını da gerektirebilir</li>
	</ul>

	<h2>Rigging & Sahne Kurulum Hizmetleri</h2>
	<hr>
	<h3>Sahne Kurulum Hizmetleri</h3>
	<p>Dikey Çözümler rigger ekipleri Ses, Işık, Görüntü ve Dekor  sistemlerinin güvenli bir şekilde ve  zamanında  montajı için en iyi çözüm ortağınız. Sayısız konser ve gösteride ihtiyaç duyulan alanda sorunsuz ve hızlı bir şekilde hizmet sunmuştur.</p>
	<ul>
		<li>Motor asım ve söküm hizmetleri</li>
		<li>Ses, Işık ve Görüntü sistemlerinin montajı</li>
		<li>Dekor uygulamaları</li>
		<li>Film, Reklam ve sahne şovlarında  uçuş efektleri</li>
	</ul>
	<h3>Uçuş Efektleri</h3>
	<p>--Yazı gelecek--</p>

	<h3>Rigging Hizmeti ( Yük Kaldırma )</h3>
	<p>Stadyum,kapalı spor salonları, Avm’ler, Fabrikalar, Tersaneler, Gökdelen, Tarihi yapılar,vb alanlarda vinç, forklift,asansör gibi yük kaldırma hizmetlerinin erişim’de  ve ulaşımda sıkıntı yaşandığı noktalara Dikey Çözümler olarak motorlu kaldırma sistemleriyle  yük kaldırma montaj ve değişim hizmeti sunuyoruz.</p>
	<ul>
		<li>Stadyum ve spor salonları: skorbord montajı ve değişimi</li>
		<li>Avm ve Gökdelen ( bina) cepheleri: led ekran montajı, Avize montajı</li>
		<li>Fabrika ve Tersaneler: Ağır objelerin yer değişimi veya taşınması</li>
		<li>Gökdelenler ve Oteller: Asansör ile taşınamayan ağır ve büyük objelerin hol boşluğundan üst katlara çekilmesi</li>
	</ul>
	
</div>