<div class="container">
	<h1>Rigging</h1>
	<hr>
	<h2>Uçuş Efektleri</h2>
	<hr>
	<h2>Rigging ve Sahne Kurulum Hizmetleri</h2>
	<h3>Sahne Kurulum Hizmetleri</h3>
	<p>Dikey Çözümler rigger ekipleri Ses, Işık, Görüntü ve Dekor  sistemlerinin güvenli bir şekilde ve  zamanında  montajı için en iyi çözüm ortağınız. Sayısız konser ve gösteride ihtiyaç duyulan alanda sorunsuz ve hızlı bir şekilde hizmet sunmuştur.</p>
	<ul>
		<li>Motor asım ve söküm hizmetleri</li>
		<li>Ses, Işık ve Görüntü sistemlerinin montajı</li>
		<li>Dekor uygulamaları</li>
		<li>Film, Reklam ve sahne şovlarında  uçuş efektleri</li>
	</ul>

	<h3>Rigging Hizmeti ( Yük Kaldırma )</h3>
	<p>Stadyum,kapalı spor salonları, Avm’ler, Fabrikalar, Tersaneler, Gökdelen, Tarihi yapılar,vb alanlarda vinç, forklift,asansör gibi yük kaldırma hizmetlerinin erişim’de  ve ulaşımda sıkıntı yaşandığı noktalara Dikey Çözümler olarak motorlu kaldırma sistemleriyle  yük kaldırma montaj ve değişim hizmeti sunuyoruz.</p>
	<ul>
		<li>Stadyum ve spor salonları: skorbord montajı ve değişimi</li>
		<li>Avm ve Gökdelen ( bina) cepheleri: led ekran montajı, Avize montajı</li>
		<li>Fabrika ve Tersaneler: Ağır objelerin yer değişimi veya taşınması</li>
		<li>Gökdelenler ve Oteller: Asansör ile taşınamayan ağır ve büyük objelerin hol boşluğundan üst katlara çekilmesi</li>
	</ul>
	
</div>