<div class="container">
	<h1>Yaşam Hattı ( Life Line )</h1>
	<p>Dikey Çözümler olarak riskli çalışma alanlarında yaşam hattı kurulum, bakım ve onarım hizmetleri ile birlikte bu sistemler için danışmanlık ve ilgili personel için eğitim hizmetleri vermekteyiz.</p>
	<p>Özellikle fabrika ve imalathaneler,endüstriyel tesisler,stad,baca ve kulelerde kullanılmakta olan uzun yılar süren tecrübe ve birikimin eseri standart bir uygulamadır. Özel ve emniyetli dizaynı sayesinde ilgili standartlarda uygun sertifikalı kalıcı düşüş durdurucu sistemlerdir. Her türlü projeye ve uygulama alanına tecrübeli İple erişim teknisyenlerimiz sayesinde projelendirme ve uygulama yapabilmekteyiz. Erişimi en güç ve sorunlu bölgelere dahi en ekonomik ve verimli çözümler üretmekteyiz.</p>
	<ul>
		<li class="btn btn-primary">Yatay Yaşam Hatları</li>
		<li class="btn btn-primary">Dikey Yaşam Hatları</li>
		<li class="btn btn-primary">Raylı Sistemler</li>
		<li class="btn btn-primary">Mobil Sistemler</li>
		<li class="btn btn-primary">Düşüş Durdurucular + Ankraj Noktaları</li>
	</ul>

	<h2>Yatay Yaşam Hatları</h2>
	<p>Şu sayfayı kopya: http://www.yuksekisler.com/index.php/hizmetlerimiz/yasam-hatlari-lifeline/yatay-yasam-hatlari-lifeline<br>
	C:\[WORK]\dikeycozumler\material\YAŞAM HATTI - LİFE LİNE SYSTEMS\Dosya 3/Clickfix 795A_2184-1-4</p>

	<h2>Dikey Yaşam Hatları</h2>
	<p>Şu sayfayı kopya: http://www.yuksekisler.com/index.php/hizmetlerimiz/yasam-hatlari-lifeline/innotech-vert-dikey-yasam-hatlar<br>
	C:\[WORK]\dikeycozumler\material\YAŞAM HATTI - LİFE LİNE SYSTEMS\Dosya 3/Saferail EN-795D</p>

	<h2>Raylı Sistemler</h2>
	<p>Şu sayfayı kopya: http://www.yuksekisler.com/index.php/hizmetlerimiz/yasam-hatlari-lifeline/innotech-taurus-ray-sistemli-yasam-hatlar<br>
	C:\[WORK]\dikeycozumler\material\YAŞAM HATTI - LİFE LİNE SYSTEMS\Dosya 3/Saferail-Eyecatcher-horizontaal</p>

	<h2>Mobil Sistemler</h2>
	<p>Şu sayfayı kopya: http://www.yuksekisler.com/index.php/hizmetlerimiz/yasam-hatlari-lifeline/innotech-temp-portatif-yasam-hatti-lifeline<br>
	Resimler gelecek</p>

	<h2>Düşüş durdurucular + ankraj noktaları</h2>
	<p>Yazı gelecek
	C:\[WORK]\dikeycozumler\material\YAŞAM HATTI - LİFE LİNE SYSTEMS\Dosya 1\ankraj noktasi</p>
	
</div>