html,body{
	height: 100%;
	min-height: 100%;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
body{
	height: 100%;
	background:#333;
}
.navbar{
  min-height: 100px;
  background: #fff;
}
.navbar .navbar-collapse{
  margin-top: 25px;
}
.navbar-brand>img{
  height: 75px;
}
.content{
	position: relative;
    min-height: 100%;
}
.content-body{
	padding-bottom: 300px;
}
.language-bar{
  position: relative;
  background: #333;
  font-size: 10px;
  padding: 4px 0;
}
.language-bar a{
  color: #ddd;
  text-decoration: none;
}
.language-bar a:focus, .language-bar a:hover {
  color: #fff;
}
a{
  color: #222;
}
a:focus, a:hover {
  color: #000;
}
footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 250px;
  background-color: #222;
  background-image: url(/assets/img/footer-bg.png);
  background-size: cover;
  margin-top:10px;
  color:#ccc;
  text-align: left;
  border-top:2px solid #ddd;
}
footer a{
  color:#ccc;
}
footer a:hover{
  color:#fff;
}
footer ul{
  margin:0;
  padding:0;
  list-style: none;
}
footer .row{
  border-bottom: 1px solid #666;
  padding: 20px 0;
}
.content-ng{
  color: #fff;
}

.services a{
  position: relative;
  display: block;
  background:#333;
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding-top: 70px;
}
.services a:hover{
  background-color: #d2a02a;
}
.services a.service1{
  background-image:url(/assets/img/sample/s1.png);
}
.services a.service2{
  background-image:url(/assets/img/sample/s2.png);
}
.services a.service3{
  background-image:url(/assets/img/sample/s3.png);
}
.services a.service4{
  background-image:url(/assets/img/sample/s4.png);
}
.services a.service5{
  background-image:url(/assets/img/sample/s5.png);
}
.services a.service6{
  background-image:url(/assets/img/sample/s6.png);
}

.homepage{
  position: relative;
  background-color: #333;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 620px;
  margin-left:-15px;
  margin-right:-15px;
  margin-top:-20px;
}
.homepage .img-content,.homepage .img-content img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.homepage .img-content img{
  width:auto;
-webkit-animation: fadein .2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .2s; /* Firefox < 16 */
        -ms-animation: fadein .2s; /* Internet Explorer */
         -o-animation: fadein .2s; /* Opera < 12.1 */
            animation: fadein .2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.homepage .text-content{
  position: relative;
  overflow: hidden;
}
.homepage .text-content .text-content-container{
  width: 500%;
  margin-left:0px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
.homepage .text-content .text-content-item{
  position: relative;
  width: 19%;
  display: inline-block;
  padding: 100px;
}
.homepage .navigation{
  position: absolute;
  left: 0;
  top: 50%;
  background:#333;
  color:#d2a02a;
  font-size: 30px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.homepage .navigation.glyphicon-menu-right{
  left: auto;
  right: 0;
}
.homepage-content{
  margin-top: -150px;
}
.homepage-content-item{
  background-color: #d2a02a;
  background-size: cover;
  min-height: 240px;
  cursor: pointer;
  margin-bottom: 30px;
}
.homepage-content-item.lifeline{
  background-image: url(/assets/img/home/lifeline.jpg);
}
.homepage-content-item.cleaning{
  background-image: url(/assets/img/home/cleaning.jpg);
}
.homepage-content-item.montage{
  background-image: url(/assets/img/home/montage.jpg);
}
.homepage-content-item h2{
  background-color: #d2a02a;
  padding: 12px;
  margin: 0;
  font-size:24px;
  color:#fff;
}
.homepage-content-item ul{
  position: absolute;
  bottom: 35px;
}
@media (min-width: 768px){
  .navbar {
      border-radius: 0px;
  }
}

.tab-system{
  background-color: #fff;
  color: #333;
  padding: 10px;
  margin-top:80px;
}
.tab-system .navig{
  margin-top: -50px;
}
.tab-system .navig a{
  font-size: 12px;
}
.tab-system .navig a.selected{
  background-color:#d2a02a;
}